<div id="contents">
    <div class="wrap">
        <ul class="top-nav_list">
            <li class="user"><a href="#" ng-click="app.fn_click('lg_get_contents', 'admin/AD-032')"><span class="txt">ユーザー管理</span></a></li>
            <li class="bank"><a href="#" ng-click="app.fn_click('lg_get_contents', 'bank/BK-001')"><span class="txt">BANK</span></a></li>
            <li class="public"><a href="#" ng-click="app.fn_click('lg_get_contents', 'admin/AD-060')"><span class="txt">公開臍帯血管理</span></a></li>
            <li class="supply"><a href="#"><span class="txt">患者・臍帯血提供管理</span></a></li>
            <li class="data"><a href="#"><span class="txt">集計データ管理</span></a></li>
            <li class="trump"><a href="#"><span class="txt">TRUMP</span></a></li>
        </ul>
    </div>
</div>
<!-- ///  #contents-->